@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap");
@import "./markdown.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";
// append tailwind configurations
.window {
  @apply fixed inset-0 overflow-hidden;
}
// append scss files
.resize-bar {
  &.left,
  &.right {
    @apply cursor-e-resize inset-y-0 w-[3px];
  }
  &.top,
  &.bottom {
    @apply inset-x-0 h-[3px] cursor-n-resize;
  }
  &.left {
    @apply rounded-ss-lg rounded-es-lg right-full;
  }
  &.right {
    @apply rounded-ee-lg rounded-se-lg left-full;
  }
  &.top {
    @apply rounded-ss-lg rounded-se-lg bottom-full;
  }
  &.bottom {
    @apply rounded-es-lg rounded-ee-lg top-full;
  }
  .resize-overview {
    @apply fixed inset-0 z-[10000000000000];
  }
}
/* Hide the default increment and decrement arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  text-decoration-color: transparent;
}
input {
  &[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  &[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  &[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  &[type="month"]::-webkit-calendar-picker-indicator {
    display: none;
  }
}
input[type="number"] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
  @apply size-[0px] bg-transparent;
}
::placeholder {
  @apply truncate;
}
* {
  @apply outline-none border-none;
}
body {
  font-family: system-ui, sans-serif;
  @apply text-sm select-none;
}
input,
textarea {
  caret-color: inherit;
  @apply bg-inherit;
}
.animate-loading {
  animation-name: animate-loading;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animate-loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
    animation-timing-function: linear;
  }
}
.row {
  @apply flex items-center justify-between border border-solid border-transparent;
}
.menu {
  @apply rounded-lg border border-solid border-transparent p-1 min-w-[350px]  absolute left-full top-0 ml-1 -mt-1 shadow-lg;
}
.card {
  @apply rounded-2xl lg:w-[500px] w-[400px] h-[300px] max-sm:w-full border-solid border-transparent border shadow-lg flex flex-col;
}
.array-field {
  .items {
    @apply flex flex-wrap gap-1 mb-2;
    .item {
      @apply inline-flex gap-1 items-center border border-solid border-transparent rounded-md px-2 py-1;
    }
  }
}
video {
  @apply w-full h-full;
}
.col {
  @apply p-[2px] relative w-full flex items-center gap-2 truncate;
}
.scroll-view {
  @apply relative w-full flex flex-col h-full overflow-hidden;
  .scroll-shadow-view {
    @apply absolute inset-x-0 -top-[20px] h-[20px] transition-shadow duration-100 pointer-events-none z-[1000];
  }
}
.arrow {
  width: 15px;
  height: calc(15px / 2);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.window-dragged {
  -webkit-app-region: drag;
}
[hidden] {
  display: none !important;
}
a:focus {
  @apply outline outline-1 -outline-offset-1;
}
.styled-btn {
  @apply relative w-[250px] h-[50px] flex items-center justify-center cursor-pointer;
}
.styled-btn:active {
  @apply scale-95;
}
.styled-btn .styled-btn-content {
  @apply absolute
  top-0
  left-0
  w-full
  h-full
  flex
  items-center
  justify-center
  bg-[#ffffff0d]
  shadow-lg
  border-y
  border-solid
  border-[#ffffff1a]
  rounded-[30px]
  p-[10px]
  tracking-[1px]
  overflow-hidden
  z-[1]
  backdrop-blur-lg;
}
.styled-btn:hover .styled-btn-content {
  @apply tracking-[3px] text-white;
}
.styled-btn .styled-btn-content .before {
  @apply absolute
  left-0
  top-0
  w-1/2
  h-1/2
  bg-gradient-to-l
  from-[#ffffff26]
  to-transparent
  transform
  skew-x-[45deg]
  translate-x-0
  translate-y-0
  blur-[0px];
}
.styled-btn:hover .styled-btn-content .before {
  @apply skew-x-[45deg] translate-x-[200px] translate-y-[200px];
}
.styled-btn-before {
  @apply absolute
    left-1/2
    -translate-x-1/2
    bottom-[-5px]
    w-[30px]
    h-[10px]
    rounded-[10px];
}
.styled-btn:hover .styled-btn-before /*lightup button*/ {
  @apply bottom-0 h-1/2 w-[80%] rounded-[30px];
}
.styled-btn-after {
  @apply absolute left-1/2 -translate-x-1/2 top-[-5px] w-[30px] h-[1px] rounded-[10px];
}
.styled-btn:hover .styled-btn-after /*lightup button*/ {
  @apply top-0 h-1/2 w-[80%] rounded-[30px];
}
.btn {
  .btn-content {
    position: relative;
    z-index: 2;
  }
  &__bg {
    @apply absolute left-1/2 top-1/2 w-full h-[0] block rounded-[50%];
    margin: -50% 0 0 -50%;
    padding-top: 100%;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.175s cubic-bezier(0.5, 1, 0.89, 1);
    z-index: 1;
    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        transition-delay: 0.4s * (4 - $i);
      }
    }
    .btn:focus & {
      transform: scale(1.5);
      transition: transform 0.35s cubic-bezier(0.11, 0, 0.5, 0);
      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          transition-delay: 0.115s * $i;
        }
      }
    }
  }
}
.animate-ty {
  animation-name: animate-ty;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}
@keyframes animate-ty {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
  }
}
@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}
.confetti-piece {
  width: 10px;
  height: 20px;
  animation: fall 3s linear infinite;
}
@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}
@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}
@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}
.confetti {
  @apply absolute z-[1] top-[-10px] border-none;
  &--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
  }
  &--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
  }
  &--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
  }
}
/* Checkmark */
.checkmark-circle {
  @apply relative w-[150px] h-[150px] inline-block mx-auto align-top;
}
.checkmark-circle .background {
  @apply absolute w-full h-full rounded-full;
}
.checkmark-circle .checkmark {
  @apply rounded-[5px];
}
.checkmark-circle .checkmark.draw:after {
  animation-delay: 100ms;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
  animation-fill-mode: forwards;
}
.checkmark-circle .checkmark:after {
  content: "";
  opacity: 1;
  height: 75px;
  width: 37.5px;
  transform-origin: left top;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-radius: 2.5px !important;
  left: 25px;
  top: 75px;
  position: absolute;
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 200px;
    width: 200px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
